@media all and (max-width: 768px) {
body {
	min-width: 0;
}
header {
	height: 60px;
}
#hamberger {
	display: block;
	right: 24px;
	top: 31px;
	width: 36px;
	height: 14px;
}
#hamberger span {
	width: 26px;
	background-color: #00B8FF;
}
#hamberger.open span {
	width: 60%;
}
#hamberger.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#hamberger.open span:last-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.open-menu {
	left: 30% !important;
}
header .logo {
	left: 24px;
	width: 108px;
}
#nav {
	width: 70%;
	left: 100%;
	top: 0;
	height: 100vh;
	background-color: #28323c;

	transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	-moz-transform: translate(0%, 0%);
	-o-transform: translate(0%, 0%);
}
#gnb {
	margin-top: 26px;
	margin-left: 24px;
}
#gnb li {
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
	display: block;
}
#gnb li:before {
	display: none;
}
#gnb li a {
	font-size: 16pt;
	color: #fff;
}
#main-copy {
	width: calc(100% - 48px);
	font-size: 15pt;
	word-break: keep-all;
	line-height: 1.7;
	top: 15vh;
	left: 24px;
}
#main-copy b {
	display: block;
}
#main-txt {
	bottom: 30px;
	word-break: keep-all;
	font-size: 9pt;
	width: calc(100% - 48px);
	left: 24px;
}
#blue {
	right: -480px;
	bottom: 40px;
}
#white {
	right: -560px;
	bottom: 82px;
}
#main-copy br {
	display: none;
}
#sidebar {
	display: none;
}
.content {
	max-width: 9999px;
	padding-top: 98px;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
}
.content-inner h1 {
	font-size: 36pt;
	letter-spacing: -0.01em;
	margin-bottom: 20px;
}
p.intro-txt, .sect p {
	font-size: 11pt;
	line-height: 1.6;
	margin-bottom: 20px;
}
.content-inner {
	width: 100%;
	float: none;
}
.btn {
	width: 100%;
	height: 46px;
	line-height: 48px;
	font-size: 11pt;
}
.sect {
	margin-top: 60px;
}
.sect h2.title {
	font-size: 17pt;
	margin-bottom: 12px;
}
#bcu {
	margin-top: 70px;
}
.twentytwenty-handle {
	width: 30px !important;
	height: 30px !important;
	margin-left: -15px !important;
	margin-top: -15px !important;
}
.img-comp-container {
	margin-bottom: 40px;
}
#logo-partnerships .img-comp-container {
	margin-top: 0;
}
#logo-partnerships h3.title {
	font-size: 12pt;
}
ul.list-th-2 li span {
	letter-spacing: -0.03em;
	font-size: 9pt;
	margin-bottom: 5px;
}
ul.list-th-2 li {
	width: calc(50% - 8px);
	margin-bottom: 20px;
}
ul.list-th-2 li:nth-child(even) {
	margin-left: 16px;
}
#logo-color .slick-slide {
	height: 178px;
}
#logo-color .slider div span {
	font-size: 10pt;
	top: 8px;
	left: 8px;
}
#space-type h3.title {
	margin-top: 50px;
}
#space-type .slick-slide {
	height: 190px;
}
#space-type .photo-list figure:nth-child(3n+2) {
	margin: 15px 0;
}
ul#list-icon, ul#list-fill-icon {
}
ul#list-icon li, ul#list-fill-icon li {
	width: 25%;
	margin-right: 0px;
	margin-bottom: 38px;
	border-right: 1px solid #fff;
}
ul#list-icon li span, ul#list-fill-icon li span {
	letter-spacing: -0.03em;
	font-size: 10pt;
}
ul#list-icon li:last-child, ul#list-icon li:nth-child(4n+4), ul#list-fill-icon li:nth-child(4n+4) {
	border-right: 1px solid #ddd;
}
@media all and (max-width: 376px) {
ul#list-icon li, ul#list-fill-icon li {
	height: 82px;
}
}
@media (min-width: 377px) and (max-width: 414px) {
ul#list-icon li, ul#list-fill-icon li {
	height: 92px;
}
}
@media (min-width: 415px) and (max-width: 1024px) {
ul#list-icon li, ul#list-fill-icon li {
	height: 180px;
}
}
#typo-content a.btn {
	margin-right: 0;
	margin-top: 10px;
}
#typo-weight ul li h5 {
	font-size: 9pt;
	margin-top: 16px;
}
#typo-weight ul li h5 b {
	font-weight: normal;
}
#typo-weight ul.list-th-2 li span {
	font-size: 13pt;
}
#icon-overview ul#list-fill-icon li {
	width: 20%;
	height: 65px;
	border-bottom: 1px solid #fff;
}
#icon-overview ul#list-fill-icon li:nth-child(5n+5) {
	border-right: 1px solid #ddd;
}
#icon-overview ul#list-fill-icon li:nth-child(5n+6) { border-bottom: 1px solid #ddd; }
#icon-overview ul#list-fill-icon li:nth-child(5n+7) { border-bottom: 1px solid #ddd; }
#icon-overview ul#list-fill-icon li:nth-child(5n+8) { border-bottom: 1px solid #ddd; }
#icon-overview ul#list-fill-icon li:nth-child(5n+9) { border-bottom: 1px solid #ddd; }
#icon-overview ul#list-fill-icon li:nth-child(5n+10) { border-bottom: 1px solid #ddd; }
ul#list-icon li:nth-child(4n+4), ul#list-fill-icon li:nth-child(4n+4) {
	margin-right: 0;
}

.photo-list figure img {
	box-sizing: border-box;
	border: 1px solid #ddd;
}
#logo-color .slider div span b {
	display: inline-block;
	margin-right: 8px;
}
#logo-color ul.bcu li {
	width: 50%;
	height: 80px;
}
.slick-dots li button:before {
	width: 14px !important;
	height: 14px !important;
}
.slick-dots {
	bottom: -26px !important;
}
.slick-dots li {
	width: 14px !important;
	height: 14px !important;
}
.sect h3.title {
	font-size: 12pt;
	letter-spacing: -0.01em;
	margin-bottom: 12px;
	line-height: 1.4;
}
ul.list-txt li {
	font-size: 10pt;
	line-height: 2;
	text-indent: 8px;
}
ul.list-txt li::before {
	top: 10px;
}
footer #footer-inner {
	height: 60px;
}
footer #logo-footer {
	width: 88px;
	left: 24px;
	top: 21px;
}
footer copyright {
	font-size: 10pt;
	right: 24px;
	top: 20px;
}
ul.list-color li {
	width: 100%;
	height: 160px;
	margin-left: 0 !important;
	margin-bottom: 10px !important;
	background-image: none !important;
}
span.cv {
	font-size: 8pt;
	top: 16px;
	overflow: hidden;
	opacity: 1;
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}
span.cv2 {
	opacity: 0;
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
	top: 18px;
}
.list-color li.act span.cv2 {
	opacity: 1 !important;
	top: 18px;
}
.list-palette li {
	width: 100% !important;
	padding: 8px;
	height: 80px;
}
.list-palette li h5, 
.list-palette li h6 {
	font-size: 10pt;
}
ul#color-gray li {
	height: 120px;
}
.list-palette li h6 {
	bottom: 6px;
}
ul.list-color li h5 {
	font-size: 10pt;
}
ul.list-color li h6 {
	font-size: 10pt;
	left: 20px !important;
}
#color-overview h3.title {
	margin-top: 30px;
}
#color-sheet ul li {
	width: 100%;
}
#color-sheet ul li h5 {
	width: 50%;
	float: left;
	font-size: 11pt;
}
#color-sheet ul li:nth-child(3n+2) {
	margin: 20px 0;
}
.photo-list {
	display: flex;
	justify-content: space-between;
}
#photo-car .photo-list, 
#photo-experience .photo-list, 
#photo-people .photo-list {
	display: block;
}
#photo-car .photo-list figure, 
#photo-experience .photo-list figure, 
#photo-people .photo-list figure {
	width: 100%;
}
#photo-car .photo-list figure img, 
#photo-experience .photo-list figure img, 
#photo-people .photo-list figure img {
	border: none;
}
#photo-car .photo-list figure:nth-child(3n+2),
#photo-experience .photo-list figure:nth-child(3n+2),
#photo-people .photo-list figure:nth-child(3n+2) {
	margin: 5px 0;
}
.photo-list figure {
	width: calc(33.3333% - 8px);
}
.slarrow .slick-dots li button, .slarrow .slick-dots li {
	width: 18px !important;
	height: 3px !important;
}
#framegif {
	margin-bottom: 30px;
}
#space-type .photo-list figure:nth-child(3n+2) {
	margin: 0;
}
.slarrow .slick-prev, 
.slarrow .slick-next {
	background-size: 14px;
	display: none !important;
}
#photo-overview .slick-slide {
	height: 190px;
}
#icon-draw ul li {
	font-size: 11pt;
	width: calc(50% - 10px);
	margin-bottom: 20px;
}
#icon-draw ul li:nth-child(even) {
	margin-left: 20px;
}
#icon-draw ul li b {
	font-weight: normal;
	font-family: "AvenirLTPro-Black", 'sdg-b', sans-serif;
}
#typo-weight ul.list-th-2 li, 
#typo-overview ul.list-th-2 li {
	width: 100%;
	margin-top: 10px;
}
#typo-weight ul.list-th-2 li:nth-child(even), 
#typo-overview ul.list-th-2 li:nth-child(even) {
	margin-left: 0;
	margin-top: 30px;
}
#typo-overview ul.list-th-2 li:nth-child(even) {
	margin-top: 20px;
}
#space-type .slick-dots, #photo-overview .slick-dots {
	bottom: 6px !important;
}
.list-palette li:nth-child(5n+2) {
	height: 110px;
}
.list-palette li:nth-child(5n+4) {
	height: 60px;
}
.list-palette li:nth-child(5n+5) {
	height: 50px;
}
.list-palette li h5 br {
}
#list-palette-2 li:nth-child(4n+3) {
	height: 140px;
}
#list-palette-3 li:nth-child(5n+1) {
	height: 50px;
}
ul#color-brand li {
	width: 100%;
	height: 200px;
}
#list-palette-3 li:nth-child(5n+3) {
	height: 60px;
}
#list-palette-3 li:nth-child(5n+4) {
	height: 85px;
}
#list-palette-3 li:nth-child(5n+5) {
	height: 65px;
}
#list-palette-2 li:nth-child(4n+4) {
	height: 50px;
}
#list-palette-4 li:nth-child(5n+1), 
#list-palette-4 li:nth-child(5n+2), 
#list-palette-4 li:last-child {
	height: 60px;
}
#footer-info {
	display: none;
}
#main-wrap {
	min-height: 300px;
}
.mbo { display: block !important; }
.pco { display: none; }
ul#color-brand li:nth-child(6n+3), 
ul#color-brand li:last-child {
	margin-bottom: 0 !important;
}
#list-palette-4 li:nth-child(5n+3) {
	height: 130px;
}
#list-palette-4 li:nth-child(5n+4) {
	height: 90px;
}
ul#color-brand li:nth-child(6n+4), 
ul#color-brand li:nth-child(6n+5) {
	display: none;
}
ul#list-icon, ul#list-fill-icon {
	margin-top: 30px;
}
#icon-overview ul#list-fill-icon {
	margin-top: 20px;
}
#main-txt ul {
	margin-top: 20px;
}
.pop-list div {
	width: calc(50% - 8px);
	margin-bottom: 16px;
}
#ill-overview .slide__caption span {
	position: static;
	color: #333;
	font-size: 10pt;
	display: none;
}
.sl-wrapper .sl-image .sl-caption {
	display: block !important;
	bottom: -24px !important;
	left: auto !important;
	color: #C5C8CE !important;
	font-size: 11pt !important;
}
#ill-overview .slide__caption {
	display: block;
	opacity: 1;
	background-image: none;
	background-color: transparent;
	height: auto;
	top: calc(100% + 4px);
	margin-bottom: 0;
}
.pop-list div:nth-child(3n+2) {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 16px;
}
.pop-list div:nth-child(odd) {
	margin-right: 16px;
}
}
/* iphone 5, se */
@media all and (max-width: 330px) {
#space-type .slick-slide {
	height: 160px;
}
#main-copy {
	font-size: 13pt;
	word-break: keep-all;
}
#main-txt {
	bottom: 30px;	 
	line-height: 1.6;
}
ul#list-icon li, ul#list-fill-icon li {
	height: 68px;
}
ul#list-icon li span, ul#list-fill-icon li span {
	font-size: 9pt;
	top: -16px;
}
#icon-overview ul#list-fill-icon li {
	height: 54px;
}
ul.list-th-2 li span {
	letter-spacing: -0.04em;
	font-size: 8pt;
}
#logo-color .slick-slide {
	height: 148px;
}
.content-inner h1 {
	font-size: 33pt;
}
}

