@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

.btn {
	text-transform: uppercase;
	text-indent: 25px;
	display: block;
	width: 278px;
	height: 52px;
	line-height: 54px;
	background-color: #553EFF;
}

html {
	width: 100%;
}

body {
	min-width: 1300px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	-webkit-text-size-adjust:none;
	text-rendering: optimizeLegibility;
	overflow: auto;
	font-size: 13pt;
	color: #28323c;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html { 
  scroll-behavior: smooth; 
} 
  
#gnb-header {
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF4D;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); 
  border-bottom: 0.8px solid #292929;
}

#gnb-logo {
  width: 70px;
  display: flex;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20%;
  background-image: /images/logo.svg;
}

#gnb-menu {
  display: flex;
  }

#gnb-menu .menu-item {
  display: flex;
  margin-left: 40px;
  margin-top: 15px;
  color: #292929;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2;
  text-decoration: none;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#gnb-menu .menu-item:hover {
  color: #444444CC;
  transition: 0.5s;
}

.content {
	margin: 0 auto;
	padding-top: 178px;
	margin-bottom: 80px;
	min-height: 500px;
	max-width: 1280px;
	width: 100%;
	overflow: auto;
}

.content-inner {
	width: 952px;
	float: right;
}

.content-inner h1 {
	color: #000;
	font-size: 68pt;
	margin-bottom: 40px;
}

.content-inner p {
	max-width: 760px;
	word-break: keep-all;
	width: 100%;
}

#main-wrap {
	position: relative;
	max-width: 1280px;
	width: 100%;
	height: 90vh;
	min-height: 640px;
	left: 50%;
}

#main-copy {
	color: #374553;
	font-size: 30pt;
	line-height: 65px;
	letter-spacing: -0.02em;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	position: absolute;
	top: 25vh;
}

#main-txt {
	color: #646f7c;
	font-size: 12pt;
	letter-spacing: -0.02em;
	line-height: 25px;
	position: absolute;
	bottom: 80px;
}

#main-txt ul {
	margin-top: 30px;
}

#main-txt ul li {
	float: left;
	margin-right: 20px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #292929;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
